.wp-block-button__link {
	background-color: var(--color-dark);
	transition: background-color 0.1s ease-in-out;

	@media screen and (hover: hover) {
		&:hover {
			color: white;
			background-color: var(--color-accent);
		}
	}
}

.wp-block-media-text {
	margin-block: 3rem;

	.wp-block-media-text__content {
		@media screen and (max-width: 600px) {
			padding-inline: 0;
		}
	}
}

.wp-block-media-text__media {
	overflow: hidden;
	border-radius: var(--border-radius-large);
	box-shadow: var(--box-shadow-base);
}

.wp-block-group {
	&.is-layout-grid {
		gap: 1rem;
	}
}

.wp-block-separator {
	margin-block: 4rem;
}

.wp-block-button__link {
	padding: 0.75rem 1.125rem;
	border-radius: var(--border-radius-large);
}

.wp-block-group.is-layout-grid {
	gap: 1.5rem;
}
