.wp-block-latest-posts__list {
	justify-content: center;
	gap: 1rem;

	li {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		min-width: 18rem;
		margin: 0 !important;
		padding: 1rem;
		background-color: var(--color-light);
		border-radius: var(--border-radius-large);
		box-shadow: var(--box-shadow-base);

		@media screen and (max-width: 1151px) {
			width: calc(50% - 0.5rem) !important;
		}

		@media screen and (max-width: 631px) {
			width: 100% !important;
		}
	}
}

.wp-block-latest-posts__featured-image {
	position: relative;
	overflow: hidden;
	margin: -1rem -1rem 1rem -1rem;

	img {
		width: 100%;
		aspect-ratio: calc(16 / 9);
		object-fit: cover;
		transition: all 0.2s ease-in-out;
	}

	@media screen and (hover: hover) {
		&:hover {
			img {
				transform: scale(1.05);
				filter: saturate(1);
			}
		}
	}
}

.wp-block-latest-posts__post-title {
	font-weight: bold;
}

.wp-block-latest-posts__post-date {
	margin-top: 0.5rem;
}

.wp-block-latest-posts__post-excerpt {
	margin-bottom: 0;
}

.wp-block-button__link {
	background-color: var(--color-dark);
	transition: background-color 0.1s ease-in-out;

	@media screen and (hover: hover) {
		&:hover {
			color: white;
			background-color: var(--color-accent);
		}
	}
}

.wp-block-media-text {
	margin-block: 3rem;

	.wp-block-media-text__content {
		@media screen and (max-width: 600px) {
			padding-inline: 0;
		}
	}
}

.wp-block-media-text__media {
	overflow: hidden;
	border-radius: var(--border-radius-large);
	box-shadow: var(--box-shadow-base);
}

.wp-block-group {
	&.is-layout-grid {
		gap: 1rem;
	}
}

.wp-block-separator {
	margin-block: 2.5rem;
}
