.bwb_team-member {
	gap: 0;
	overflow: hidden;
	background-color: var(--color-light);
	border-radius: var(--border-radius-large);
	box-shadow: var(--box-shadow-base);

	& > .wp-block-image {
		overflow: hidden;

		img {
			filter: saturate(0);
			transition: all 0.2s ease-in-out;

			@media screen and (hover: hover) {
				&:hover {
					transform: scale(1.05);
					filter: saturate(1);
				}
			}
		}
	}

	& > .wp-block-group {
		padding: 1rem;
	}
}
