@use "./variables";

$post-preview-border-radius: 0.5rem;
$post-preview-margin-inline: 1.25rem;
$post-preview-margin-block: 1rem;

.mnmlst_post-archive {
	margin-block: 3rem;
	display: flex;
	gap: 1.5rem;
	flex-wrap: wrap;

	.mnmlst_post-wrapper {
		flex: 1 1 18rem;
		overflow: hidden;
		background-color: var(--color-light);
		border-radius: var(--border-radius-large);
		box-shadow: var(--box-shadow-base);

		&:hover {
			.mnmlst_thumbnail-figure {
				.attachment-post-thumbnail {
					transform: scale(1.15);
				}
			}
		}
	}

	.mnmlst_thumbnail-figure {
		display: block;
		height: unset !important;
		aspect-ratio: 16 / 9;
		overflow: hidden;
		margin-top: 0 !important;

		.attachment-post-thumbnail {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 0.2s ease-in-out;
		}
	}

	.mnmlst_entry-header {
		.mnmlst_entry-content & {
			margin-bottom: 0.375rem;
			text-align: left;
		}
	}

	.mnmlst_post-title {
		margin: $post-preview-margin-block $post-preview-margin-inline 0
			$post-preview-margin-inline;
	}

	.mnmlst_post-categories {
		display: flex;
		flex-wrap: wrap;
		gap: 0.375rem;
		margin: 0.75rem calc($post-preview-margin-inline - 0.125rem);
	}

	.mnmlst_post-category {
		font-size: 0.625em;
		padding: 0.1875rem 0.625rem;
		color: var(--color-light);
		background-color: var(--color-accent);
		border-radius: 10rem;
	}

	.mnmlst_entry-content {
		margin-inline: $post-preview-margin-inline;

		& > .mnmlst_post-excerpt {
			margin: 0;
		}
	}

	.mnmlst_entry-footer {
		margin: $post-preview-margin-block $post-preview-margin-inline;
	}

	.mnmlst_post-link {
		display: flex;
		align-items: center;
		gap: 0.625rem;
		font-weight: bold;
		text-decoration: none;

		body:not(.mnmlst_body) & {
			color: initial;
			fill: initial;
			cursor: pointer;

			&:hover {
				color: var(--color-accent);
				fill: var(--color-accent);
			}
		}
	}

	.mnmlst_post-link-icon {
		display: block;
		height: 1.125rem;
	}
}
