html {
	--adminbar-height: 0px;

	&.has-adminbar {
		--adminbar-height: 32px;

		@media screen and (max-width: 782px) {
			--adminbar-height: 46px;
		}
	}

	--header-height: 3.5rem;
	--header-margin-inline: 1rem;

	@media screen and (max-width: 782px) {
		--header-margin-inline: 0.5rem;
	}

	--header-menu-height-fallback: calc(
		100vh - var(--header-height) - var(--header-margin-inline) *
			3 -var(--adminbar-height)
	);
	--header-menu-height: calc(
		100dvh - var(--header-height) - var(--header-margin-inline) *
			3 - var(--adminbar-height)
	);

	--content-margin-inline: 8rem;

	@media screen and (min-width: 94rem) {
		--content-margin-inline: calc((100% - 78rem) / 2);
	}
	@media screen and (max-width: 848px) {
		--content-margin-inline: 1.25rem;
	}

	--color-accent: #0b6fb0;
	--color-accent-rgb: 11, 111, 176;

	--color-light: #f1f3f5;
	--color-light-rgb: 241, 243, 245;
	--color-dark: #182430;
	--color-dark-rgb: 24, 36, 48;

	--glass-gradient: repeating-linear-gradient(
		45deg,
		rgba(var(--color-light-rgb), 0.5),
		rgba(var(--color-light-rgb), 0.6),
		rgba(var(--color-light-rgb), 0.5) 20rem
	);
	--glass-gradient-solid: repeating-linear-gradient(
		45deg,
		rgba(var(--color-light-rgb), 1),
		rgba(var(--color-light-rgb), 0.95),
		rgba(var(--color-light-rgb), 1) 20rem
	);

	--image-overlay-gradient: linear-gradient(
		rgba(var(--color-accent-rgb), 0.2),
		var(--color-dark)
	);

	--border-radius-large: 0.75rem;
	--border-radius-medium: 0.5rem;
	--border-radius-small: 0.25rem;

	--border-accent-light: 1px solid rgba(var(--color-accent-rgb), 0.08);

	--box-shadow-base:
		0 1px 1px rgba(var(--color-dark-rgb), 0.1),
		0 1px 6px rgba(var(--color-dark-rgb), 0.25);
}
