@use "./variables";
@use "./blocks";
@use "./custom";
@use "./postArchive";

body {
	font-family: sans-serif;
	color: var(--color-dark);
	fill: var(--color-dark);
}

@media screen and (hover: hover) {
	a:hover {
		color: var(--color-accent);
		fill: var(--color-accent);
	}
}

.mnmlst_header {
	transform: translateY(var(--header-margin-inline));
	height: var(--header-height);
	width: calc(100% - var(--header-margin-inline) * 2);
	margin-inline: var(--header-margin-inline);
	padding-inline: 1rem;
	background-color: unset;
	border-radius: var(--border-radius-large);
	box-shadow: var(--box-shadow-base);
	transition: all 0.2s ease-in-out;

	&::before {
		content: "";
		display: block;
		position: absolute;
		inset: 0;
		z-index: -1;
		background: var(--glass-gradient);
		backdrop-filter: blur(0.75rem);
		border-radius: inherit;
		border: 1.5px solid rgba(var(--color-light-rgb), 0.2);
	}

	&.solid,
	#mnmlst_mobile-menu-checkbox:checked ~ & {
		&::before {
			background: var(--glass-gradient-solid);
			border-color: var(--color-light);
		}
	}

	&.solid {
		transform: translateY(0);
		border-top-right-radius: 0;
		border-top-left-radius: 0;

		.mnmlst_header-menu {
			height: calc(
				var(--header-menu-height) + var(--header-margin-inline)
			);
		}
	}

	.mnmlst_site-logo {
		height: 1.75rem;
	}

	.mnmlst_mobile-menu-button {
		display: block;
		width: 1.75rem;
	}

	.mnmlst_header-menu {
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;
		gap: 2.25rem;
		position: fixed;
		top: calc(var(--header-height) + var(--header-margin-inline));
		right: -100vw;
		left: unset !important;
		width: 100%;
		max-width: 30rem;
		height: var(--header-menu-height-fallback);
		height: var(--header-menu-height);
		padding: 2rem;
		border-radius: var(--border-radius-large);
		box-shadow: var(--box-shadow-base);
		transition:
			right 0.4s 0.15s,
			height 0.2s ease-in-out;

		&::before {
			content: "";
			display: block;
			position: absolute;
			inset: 0;
			z-index: -1;
			background: var(--glass-gradient-solid);
			backdrop-filter: blur(0.75rem);
			border-radius: inherit;
			border: 1.5px solid var(--color-light);
		}

		.menu-item {
			display: block;
			right: -6rem;
			left: unset !important;

			a {
				display: flex;
				gap: 0.75rem;
			}
		}
	}

	#mnmlst_mobile-menu-checkbox:checked ~ & {
		.mnmlst_header-menu {
			right: 0;
		}

		.menu-item {
			right: 0;
		}
	}
}

.wp-singular {
	.mnmlst_entry-header {
		position: relative;
	}

	.mnmlst_thumbnail-figure {
		inset: 0;
		margin-top: calc(-1 * var(--header-height));

		&::after {
			content: "";
			display: block;
			position: absolute;
			inset: 0;
			background: var(--image-overlay-gradient);
			mix-blend-mode: multiply;
		}

		& ~ .mnmlst_header-meta-wrapper {
			@media screen and (min-width: 849px) {
				position: absolute;
				bottom: 0;
				padding: 3rem 0;

				.mnmlst_post-title,
				.mnmlst_post-excerpt {
					text-align: left;
					color: white;
					max-width: unset;
				}
			}
		}
	}

	.mnmlst_header-meta-wrapper {
		width: calc(100% - var(--content-margin-inline) * 2);
		max-width: unset;
		margin-inline: var(--content-margin-inline) !important;

		.mnmlst_post-title,
		.mnmlst_post-excerpt {
			margin-inline: 0 !important;
			text-align: left;
		}
	}
}

.mnmlst_footer {
	width: calc(100% - var(--header-margin-inline) * 2);
	margin-inline: var(--header-margin-inline);
	border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
	background: var(--glass-gradient-solid);
	box-shadow: var(--box-shadow-base);

	.mnmlst_footer-menu.left-col {
		flex-direction: column;

		@media screen and (min-width: 769px) {
			align-items: flex-start;
		}
	}

	.mnmlst_footer-menu.center-col {
		flex-wrap: wrap;

		.menu-item.bwb_home-link {
			display: flex;
			justify-content: center;
			width: 100%;

			svg {
				width: 7rem;
			}
		}
	}

	.menu-item {
		&.standalone-icon {
			.menu-item-icon {
				width: 3rem;
			}
		}

		a p {
			margin: 0;
		}
	}
}
